- if skill.instance_of?(CxbRank::Skill)
  - cleared = skill.cleared?(diff)
  - rate = skill.rate(diff)
  - rate_f = skill.rate_f(diff)
- else
  - cleared = skill.cleared?
  - rate = skill.rate
  - rate_f = skill.rate_f
- if cleared or (skill.instance_of?(CxbRank::CourseSkill) and skill.played?)
  - if rate_f
    = sprintf('%d<small>.%02d</small>%%', rate.to_i, (rate * 100).to_i % 100)
  - else
    = sprintf('%d%%', rate.to_i)
- else
  = '&ndash;'
