%table.chart
  %thead
    %tr
      - if cxb_mode?
        %th #
      %th.title タイトル
      - music_diffs.keys.sort.each do |diff|
        %th{:class => CxbRank::MUSIC_DIFF_CLASSES[diff], :colspan => 2}= music_diffs[diff]
  %tbody
    - skills.each do |skill|
      = haml :skill, :locals => {:skill => skill}
