%div.unit
  %h2= type_name
  %div.subunit
    - unless skills.present?
      %p 該当するコースのプレイ成績がありません
    - else
      %table.skill_list
        - unless mobile?
          %thead
            %tr
              %th.number #
              %th.title コース名
              %th.course_level レベル
              %th.mark 完奏
              %th.point RP
              %th.rate RATE
              %th.combo コンボ
              %th コメント
        %tbody
          - row = 1
          - skills.each do |skill|
            - next if !edit and (skill.iglock_best_point || 0.0) == 0.0
            = haml :course_skill, :locals => {:skill => skill, :edit => edit, :row => row}
            - row = row + 1
