%dl
  %dt 2017.09.03 (Sun)
  %dd
    %p <a href="https://twitter.com/maplia_jp/status/903868739715612672">Googleスプレッドシートからの入力シートで「未来へのプレリュード」以降の入力欄が正常に作られない</a>ことがわかったので、シート原版の修正対応をしました
    %p Googleスプレッドシートをご利用の方は、お手数ですが入力シートの再コピーをお願いします
  %dt 2017.01.03 (Tue)
  %dd
    %p 外部公開用RP表の単曲RP表示件数をユーザー設定から選択できるようにしました
    %p 現状選択肢として「全曲」「上位20曲」「上位30曲」「上位40曲」の4種類を用意していて、未設定の場合は「全曲」としています
  %dt 2016.06.19 (Sun)
  %dd
    %p Webからのデータ入力時にもスコアの入力欄を追加しました
    %p 入力した内容はクリア状況表から参照できます
  %dt 2016.06.04 (Sat)
  %dd
    %p 6/21に予定されている1.13.00アップデートに伴って削除される楽曲（14曲）について、6/21を過ぎても登録されたデータの削除は行いませんが、RP合計対象外（削除曲）のカテゴリーを作成してそこへ移動する対応を行います
    %p 1.13.00アップデート以降は当該曲の成績参照がいっさいできなくなることが予想されるので、成績を残しておきたい方は早めの登録をおすすめします
  %dt 2016.06.04 (Sat)
  %dd
    %p Googleスプレッドシートからの入力シートにスコアの欄を追加し、スコアの記録に対応しました
    %p 入力した内容はクリア状況表から参照できます（<a href="/chart/00002">サンプル</a>）
    %p すでにGoogleスプレッドシートをご利用の方も、お手数ですが入力シートの再コピーをお願いします
  %dt 2016.05.06 (Fri)
  %dd
    %del
      %p 5/6 22:00より10分程度の予定で、このサイト全体のプログラム更新を実施します。
      %p この時間帯はアクセスを避けてもらえると助かります。状況は<a href="https://twitter.com/maplia">@maplia</a>で案内する予定です。
    %p 作業完了しました。
  %dt 2016.01.08 (Fri)
  %dd
    %p Googleスプレッドシートを利用した一括登録機能を追加しました。入力はシートより行ってください。
  %dt 2016.01.03 (Sun)
  %dd
    %p ランクポイント登録の際に「旧譜面で記録した成績」ということを明示するための機能を追加しました。これにより、該当曲には「旧譜面」のチェックボックスが現れるようになります。
    %p 「旧譜面」チェックをつけたとき、入力でRPとクリアレートの片方を欠いた場合の自動計算は旧譜面レベルにより行われるようになります。
  %dt 2015.12.17 (Thu)
  %dd
    %p 12/17に実施されたNo.1～50のゲーム譜面刷新をデータベースに反映しました。RPの再計算はしていませんので、反映にはプレイデータを再登録してください。
  %dt 2015.12.17 (Thu)
  %dd
    %del
      %p 12/17 13:10より1時間程度の予定で、このサイト全体のプログラム更新を実施します。
      %p この時間帯はアクセスを避けてもらえると助かります。状況は<a href="https://twitter.com/maplia">@maplia</a>で案内する予定です。
    %p 作業完了しました。
  %dt 2015.07.16 (Thu)
  %dd
    %del
      %p 7/17 23:00より10分程度の予定で、このサイト全体のプログラム更新を実施します。
      %p この時間帯はアクセスを避けてもらえると助かります。状況は<a href="https://twitter.com/maplia">@maplia</a>で案内する予定です。
    %p 作業完了しました。
  %dt 2014.02.25 (Mon)
  %dd
    %p クリアレート欄が入力されていれば、RP欄をクリアレートから自動計算して埋めるように改良しました。
    %p ただし、実データが通常ゲージ98%/ULTゲージ97%（画面表示は98%になる）といったように計算のもとになっているクリアレートが表示されていない場合は自動計算に対応できませんので、ご注意ください。
  %dt 2014.01.12 (Sun)
  %dd
    %p ULTIMATEでのクリア情報が登録されているとき、登録されたクリアレートのほかに、ポイントから逆算したULTIMATEモードでのクリアレート値も表示するようにしました。
    %p ゲーム画面のほうで、ULTIMATEクリア時のクリアレートが表示されない場合があることによる対策措置となります。
    %p 導入の経緯は<a href="https://twitter.com/maplia/status/422176470220275712">このTwitterでのやりとり</a>をご参照ください。
  %dt 2014.01.09 (Thu)
  %dd
    %p 各譜面ごとにULTIMATEでのクリアを入力できるようにしました。
  %dt 2014.01.08 (Wed)
  %dd
    %p 2014/1/8のアップグレードで実装されるULTIMATEオプションにて、<a href="https://twitter.com/CROSSxBEATS/status/420563698080415744">RPにボーナスがつく</a>ことが発表されました。
    %p 本ツールについて修正対応が必要かどうかはこのオプションの挙動が判明してからの判断となりますので、修正が必要であった場合はしばらく対応をお待ちください。
    %p しばらくご迷惑をおかけすることがあると思いますが、ご了承お願いします。
  %dt 2013.12.29 (Sun)
  %dd
    %p ご要望をいただいていた<a href="https://twitter.com/maplia/status/415971219758776320">譜面ロック中の状態を入力する方法</a>を実装しました。
    %p ここにチェックをすると、その譜面は合計RPの計算対象外になります。
  %dt 2013.12.15 (Sun)
  %dd
    %p とりあえず公開
