%dl
  %dt 2016.01.08 (Fri)
  %dd
    %p Googleスプレッドシートを利用した一括登録機能を追加しました。入力はシートより行ってください。
  %dt 2016.01.03 (Sun)
  %dd
    %p ランクポイント登録の際に「旧譜面で記録した成績」ということを明示するための機能を追加しました。これにより、該当曲には「旧譜面」のチェックボックスが現れるようになります。
    %p 「旧譜面」チェックをつけたとき、入力でRPとクリアレートの片方を欠いた場合の自動計算は旧譜面レベルにより行われるようになります。
  %dt 2015.12.17 (Thu)
  %dd
    %p 12/17に実施されたNo.1～50のゲーム譜面刷新をデータベースに反映しました。RPの再計算はしていませんので、反映にはプレイデータを再登録してください。
  %dt 2015.12.17 (Thu)
  %dd
    %del
      %p 12/17 13:10より1時間程度の予定で、このサイト全体のプログラム更新を実施します。
      %p この時間帯はアクセスを避けてもらえると助かります。状況は<a href="https://twitter.com/maplia">@maplia</a>で案内する予定です。
    %p 作業完了しました。
  %dt 2015.07.16 (Thu)
  %dd
    %del
      %p 7/17 23:00より10分程度の予定で、このサイト全体のプログラム更新を実施します。
      %p この時間帯はアクセスを避けてもらえると助かります。状況は<a href="https://twitter.com/maplia">@maplia</a>で案内する予定です。
    %p 作業完了しました。
  %dt 2014.02.25 (Mon)
  %dd
    %p クリアレート欄が入力されていれば、RP欄をクリアレートから自動計算して埋めるように改良しました。
    %p ただし、実データが通常ゲージ98%/ULTゲージ97%（画面表示は98%になる）といったように計算のもとになっているクリアレートが表示されていない場合は自動計算に対応できませんので、ご注意ください。
  %dt 2014.01.12 (Sun)
  %dd
    %p ULTIMATEでのクリア情報が登録されているとき、登録されたクリアレートのほかに、ポイントから逆算したULTIMATEモードでのクリアレート値も表示するようにしました。
    %p ゲーム画面のほうで、ULTIMATEクリア時のクリアレートが表示されない場合があることによる対策措置となります。
    %p 導入の経緯は<a href="https://twitter.com/maplia/status/422176470220275712">このTwitterでのやりとり</a>をご参照ください。
  %dt 2014.01.09 (Thu)
  %dd
    %p 各譜面ごとにULTIMATEでのクリアを入力できるようにしました。
  %dt 2014.01.08 (Wed)
  %dd
    %p 2014/1/8のアップグレードで実装されるULTIMATEオプションにて、<a href="https://twitter.com/CROSSxBEATS/status/420563698080415744">RPにボーナスがつく</a>ことが発表されました。
    %p 本ツールについて修正対応が必要かどうかはこのオプションの挙動が判明してからの判断となりますので、修正が必要であった場合はしばらく対応をお待ちください。
    %p しばらくご迷惑をおかけすることがあると思いますが、ご了承お願いします。
  %dt 2013.12.29 (Sun)
  %dd
    %p ご要望をいただいていた<a href="https://twitter.com/maplia/status/415971219758776320">譜面ロック中の状態を入力する方法</a>を実装しました。
    %p ここにチェックをすると、その譜面は合計RPの計算対象外になります。
  %dt 2013.12.15 (Sun)
  %dd
    %p とりあえず公開
