@charset 'utf-8';

/********
  block margin, align, weight
 ********/
body {
  padding: 4px;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0 5px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
p, ul, ol, li, dl, table {
  margin: 2px 0px;
}

ul, ol {
  padding-left: 1.0em;
}
ul li ul li {
  margin: 0 0 0 1.5em;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
div.main dt {
  padding: 1px 3px;
}
dd {
  margin: 0 0 0 1.0em;
}

div.unit {
  margin: 5px 0;
}
div.subunit {
  margin: 0 0 0 1.0em;
}

address {
  font-style: normal;
  text-align: right;
}
p.last_modified {
  text-align: right;
}
p.top_navi {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  text-align: left;
}

/********
  border
 ********/
div.sidebar {
  padding: 1px 3px;
  border-style: solid;
  border-color: inherit;
  border-width: 0 1px 1px 0;
}

/********
  table cell width, align, common color
 ********/
table {
  width: 100%;
}

table.music_list th.level, table.music_list td.level {
  width: 16%;
}
table.music_list th.notes, table.music_list td.notes {
  width: 17%;
}
span.unlock_unl_s, span.unlock_unl_sp,
span.unlock_unl_fc, span.unlock_unl_never {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

table.skill_summary th.type {
  width: 60%;
}
table.skill_summary td.point {
  width: 40%;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}

table.skill_list th.number, table.skill_course_list th.number {
  width: 15%;
}

table.skill_list td.level {
  width: 15%;
}
table.skill_list td.point {
  width: 20%;
}
table.skill_list td.rate {
  width: 20%;
}
table.skill_list th.rank, table.skill_list th.combo,
table.skill_list td.mark {
  width: 15%;
}

table.skill_course_list td.point {
  width: 27%;
}
table.skill_course_list td.rate {
  width: 28%;
}
table.skill_course_list td.mark {
  width: 15%;
}

table.skill_edit th.diff {
  width: 20%;
}
table.skill_edit td.comment input[type="text"] {
  width: 95%;
}

table.skill_conf th.diff {
  width: 20%;
}
table.skill_conf td.point {
  width: 30%;
}
table.skill_conf th.rank, table.skill_conf td.combo {
  width: 25%;
}

table.skill_status th {
  width: 15.0em;
}
table.skill_status td {
  width: 5.0em;
}

/*
table.skill_chart td.rank {
  font-size: 2.0em;
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}
*/
table.skill_chart td.rank {
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}
table.skill_chart td.fullcombo {
  background-color: #666666;
}
table.skill_chart td.failed {
  color: #666666;
}
table.skill_chart td.rank div.mark {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
}
table.skill_chart td.fullcombo {
  background-color: #666666;
}
table.skill_chart td.failed {
  color: #666666;
}
table.skill_chart td.level {
  width: 30%;
}
table.skill_chart td.point {
  width: 20%;
}

table.user_list td.name {
  width: 35%;
}
table.user_list td.game_id {
  width: 35%;
}
table.user_list td.point {
  width: 30%;
}

table.calc th.diff {
  width: 3.0em;
}
table.calc th.level {
  width: 2.5em;
}
table.calc th.notes {
  width: 15%;
}

td.inc {
  color: red !important;
  font-weight: bold;
}
td.dec {
  color: blue !important;
  font-weight: bold;
}

/********
  input[text], textarea
 ********/
input#user_id {
  width: 3.5em;
}
input.score {
  width: 3.5em;
}
input.game_id {
  width: 6.0em;
}
textarea {
  width: 100%;
}

/********
  sidebar
 ********/
div.sidebar {
  margin: 0;
  padding: 2px;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}

div.sidebar h2 {
  font-size: 1.0em;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 0 0 1px 0;
}

div.sidebar p, div.sidebar dl, div.sidebar form {
  margin: 0;
  padding: 0;
}
div.sidebar dt {
  color: inherit;
  background-color: transparent;
  font-weight: bold;
}
div.sidebar dd {
  margin-left: 1.5em;
}

div.sidebar ul {
  margin: 0;
  padding: 0;
}
div.sidebar li {
  list-style-type: none;
}

p.adversary_edit {
  text-align: right;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
