@charset 'utf-8';

/********
  block margin, align, weight
 ********/
body {
  padding: 4px;
}
h1 {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}
h2 {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}
p, ul, ol, li, dl, table {
  margin: 2px 0px;
}
ul, ol {
    padding: 0 0 0 1.5em;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
div.main dt {
  padding: 1px 3px;
}
dd {
  margin: 0 0 0 1.5em;
}

div.unit {
  margin: 5px 0;
}
div.subunit {
  margin: 0px 0px 0px 1.5em;
}

address {
  font-style: normal;
  text-align: right;
}
p.last_modified {
  float: right;
  text-align: right;
}
p.top_navi {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  text-align: left;
}
p.current_user {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  float: right;
  text-align: right;
}

/********
  border
 ********/
div.sidebar {
  padding: 1px 3px;
  border-style: solid;
  border-color: inherit;
  border-width: 0 1px 1px 0;
}

/********
  table cell width, align, common color
 ********/
table.music_list th.number {
  width: 2.5em;
}
table.music_list th.title {
  width: 24.0em;
}
table.music_list th.level {
  width: 3.0em;
}
table.music_list th.notes {
  width: 3.0em;
}

table.skill_summary td {
  width: 9.0em;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}
table.skill_list th.number, table.skill_course_list th.number {
  width: 2.5em;
}

table.skill_list th.title, table.skill_course_list th.title {
  width: 26.0em;
}
table.skill_list th.level {
  width: 6.0em;
}
table.skill_list th.point, table.skill_course_list th.point {
  width: 4.0em;
}
table.skill_list th.rate, table.skill_list th.u_rate,
table.skill_course_list th.rate {
  width: 4.0em;
}
table.skill_list th.rank,
table.skill_list th.combo, table.skill_course_list th.combo {
  width: 3.5em;
}

table.skill_edit td.comment input[type="text"] {
  width: 99%;
}

table.skill_conf th.diff {
  width: 3.0em;
}
table.skill_conf th.locked {
  width: 2.0em;
}
table.skill_conf th.gauge {
  width: 2.0em;
}
table.skill_conf td.level {
  width: 2.5em;
}
table.skill_conf th.course_level {
  width: 3.5em;
}
table.skill_conf th.point {
  width: 4.0em;
}
table.skill_conf th.rate, table.skill_conf th.u_rate {
  width: 4.0em;
}
table.skill_conf th.rank, table.skill_conf th.combo {
  width: 3.5em;
}

table.skill_status th {
  width: 15.0em;
}
table.skill_status td {
  width: 5.0em;
}

table.skill_chart th.number {
  width: 2.5em;
}
table.skill_chart th.title {
  width: 17.0em;
}
table.skill_chart td.rank {
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}
table.skill_chart td.fullcombo {
  background-color: #666666;
}
table.skill_chart td.failed {
  color: #666666;
}
table.skill_chart td.rank {
  line-height: 1.0;
  height: 2.5em;
}
table.skill_chart td.rank div.mark {
  font-size: 2.0em;
  margin: 0;
  margin-bottom: -0.1em;
  padding: 0;
}
table.skill_chart td.rank div.score {
  margin: 0;
  padding: 0;
}
table.skill_chart td.level {
  width: 6.5em;
}
table.skill_chart td.point {
  width: 4.0em;
}

table.calc th.diff {
  width: 3.0em;
}
table.calc th.level {
  width: 2.5em;
}
table.calc th.notes {
  width: 3.5em;
}
table.calc th.score {
  width: 4.0em;
}
table.calc th.rate {
  width: 4.5em;
}

table.user_list th.name {
  width: 12.0em;
}
table.user_list th.game_id {
  width: 5.5em;
}
table.user_list th.point {
  width: 4.5em;
}
table.user_list th.comment {
  width: 15.0em;
}

td.inc {
  color: red !important;
  font-weight: bold;
}
td.dec {
  color: blue !important;
  font-weight: bold;
}

/********
  input[text], textarea
 ********/
input.score {
  width: 3.0em;
}
textarea {
  width: 45.0em;
}

/********
  sidebar
 ********/
div.sidebar {
  margin: 2px 5px 0 0;
  padding: 2px;
  float: left;
  width: 19.0em;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}

div.sidebar h2 {
  font-size: 1.0em;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 0 0 1px 0;
}

div.sidebar p, div.sidebar dl, div.sidebar form {
  margin: 0;
  padding: 0;
}
div.sidebar dt {
  color: inherit;
  background-color: transparent;
  font-weight: bold;
}
div.sidebar dd {
  margin-left: 1.5em;
}

div.sidebar ul {
  margin: 0;
  padding: 0;
}
div.sidebar li {
  list-style-type: none;
}
div.sidebar ul li ul li {
    padding: 0 0 0 1.5em;
}

div.main {
  margin-left: 19.5em;
}
