<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; ユーザー登録</p>
<h1>ユーザー登録完了</h1>

<p>ユーザーID「<strong><%= user.user_id %></strong>」で登録されました。</p>
<p>今後ログインする際にはこのユーザーIDが必要になります。忘れないようにしてください。</p>
<p><a href="<%= SKILL_LIST_EDIT_URI %>">ユーザーメニューへ進む</a></p>
