<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; ユーザー登録</p>
<h1>ユーザー登録</h1>

<form method="post" action="<%= USER_ADD_URI %>">
	<p><em>*印</em>がついている項目は入力必須項目です。ここで入力した項目はユーザー登録後も変更可能です。</p>

	<%= user.to_html_edit %>

	<p>
		<input type="submit" value="次へ進む">
		<input type="reset" value="入力リセット">
	</p>
</form>
