<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; ユーザー登録</p>
<h1>ユーザー登録確認</h1>

<form method="post" action="<%= USER_ADD_URI %>">
	<div class="unit">
		<h2>入力情報</h2>

		<div class="subunit">
			<%= user.to_html_confirm %>
		</div>
	</div>

	<p>以上のユーザー情報を登録します。よろしいですか?</p>
	<p>
		<input type="submit" name="y" value="はい"/>
		<input type="submit" name="n" value="戻る"/>
	</p>
</form>
