<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, user-scalable=noinitial-scale=1, maximum-scale=1"/>
		<meta name="generator" content="<!--PRESET_ENGINE_NAME-->"/>
		<meta name="robots" content="noindex, nofollow"/>
		<link rel="stylesheet" type="text/css" href="<!--PRESET_SITE_STYLE-->"/>
		<title>ユーザー登録完了 - <!--PRESET_SITE_NAME--></title>
    <%= make_tracker %>
	</head>

	<body>
		<p class="top_navi"><a href="<%= SITE_TOP_URI %>">トップ</a> &gt; ユーザー登録</p>
		<h1>ユーザー登録完了</h1>

		<p>ユーザーID「<strong><%= user.user_id %></strong>」で登録されました。</p>
		<p>今後ログインする際にはこのユーザーIDが必要になります。忘れないようにしてください。</p>
		<p><a href="<%= SKILL_LIST_EDIT_URI %>">ランクポイント表へ進む</a></p>

		<!--PRESET_FOOTER-->
	</body>
</html>
