<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=noinitial-scale=1, maximum-scale=1"/>
		<meta name="generator" content="<!--PRESET_ENGINE_NAME-->"/>
		<meta name="robots" content="noindex, nofollow"/>
    <script type="text/javascript" src="http://maplia.jp/script/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="http://maplia.jp/script/jquery.disableOnSubmit.js"></script>
    <script type="text/javascript">
      $(function() {
        $("form").disableOnSubmit();
      });
    </script>
		<link rel="stylesheet" type="text/css" href="<!--PRESET_SITE_STYLE-->"/>
		<title>ユーザー登録確認 - <!--PRESET_SITE_NAME--></title>
    <%= make_tracker %>
	</head>

	<body>
		<p class="top_navi"><a href="<%= SITE_TOP_URI %>">トップ</a> &gt; ユーザー登録</p>
		<h1>ユーザー登録確認</h1>

		<form method="post" action="<%= USER_ADD_URI %>">
			<div class="unit">
				<h2>入力情報</h2>

				<div class="subunit">
          <%= user.to_html_confirm %>
				</div>
			</div>

			<p>以上のユーザー情報を登録します。よろしいですか?</p>
			<p>
				<input type="submit" name="y" value="はい"/>
				<input type="submit" name="n" value="戻る"/>
			</p>
		</form>

		<!--PRESET_FOOTER-->
	</body>
</html>
