%dl
  %dt 2016.05.06 (Fri)
  %dd
    %p <strong>SUNRISE対応バージョンを新規公開しました</strong>
    %p URLは <a href="http://revrank.maplia.jp/sunrise/">http://revrank.maplia.jp/sunrise/</a> です
    %p このサイトでのIDは引き継ぎません。上記サイトで新規に登録をお願いします
  %dt 2016.05.06 (Fri)
  %dd
    %p 初代バージョンのゲーム自体はサービス終了していますが、新機能としてブックマークレットよりハイスコアの情報を取り込む機能を追加しました
    %p クリア状況表にて取り込んだスコアを一覧で確認することができるようになります。ブックマークレット自体はまだ使用可能なのでお試しください
  %dt 2016.05.06 (Fri)
  %dd
    %del
      %p 5/6 22:00より10分程度の予定で、このサイト全体のプログラム更新を実施します。
      %p この時間帯はアクセスを避けてもらえると助かります。状況は<a href="https://twitter.com/maplia">@maplia</a>で案内する予定です。
    %p 作業完了しました。
  %dt 2016.04.27 (Wed)
  %dd
    %del
      %p 4/28より「crossbeats REV. SUNRISE」が随時稼働となりますが、当シミュレータでのSUNRISE対応時期は今のところ未定です
      %p すみませんが、しばらくお待ちください
    %p SUNRISE対応版は5/6 22:00リリースの予定です。URLはこことは別のものになります
  %dt 2016.01.16 (Sat)
  %dd
    %p 正式版として公開しました
    %p ブックマークレットの内容は&beta;テスト版のものから変更していますので、お手数ですが#{link_to '使い方案内', CxbRank::USAGE_URI}より再ブックマークをお願いします
