AddHandler cgi-script .rb
Options +ExecCGI
DirectoryIndex index.rb index.html

RewriteEngine On
RewriteBase /
RewriteRule ^(images|style|script)(.*) public/$1$2 [L]
RewriteRule index.rb/(.*) - [L]
#RewriteRule public/(.*) public/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.rb/$1 [L]
