#AddHandler cgi-script .rb
#Options +ExecCGI
#DirectoryIndex index.rb index.html

RewriteEngine On
RewriteBase /
RewriteRule ^(images|style|script)(.*) public/$1$2 [L]
RewriteRule ^(favicon.ico) public/$1 [L]
RewriteRule index.rb/(.*) - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.rb/$1 [L]
