@charset 'utf-8';

/********
  block margin, align, weight
 ********/
body {
  padding: 4px;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0 5px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
p, ul, ol, li, dl, table {
  margin: 2px 0px;
}

ul, ol {
  padding-left: 1.0em;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
div.main dt {
  padding: 1px 3px;
}
dd {
  margin: 0 0 0 1.0em;
}

div.unit {
  margin: 5px 0;
}
div.subunit {
  margin: 0 0 0 1.0em;
}

address {
  font-style: normal;
  text-align: right;
}
p.last_modified {
  text-align: right;
}
p.top_navi {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  text-align: left;
}

/********
  border
 ********/
div.sidebar {
  padding: 1px 3px;
  border-style: solid;
  border-color: inherit;
  border-width: 0 1px 1px 0;
}

/********
  table cell width, align, common color
 ********/
table {
  width: 100%;
}

table.music_list th.level {
  width: 16%;
}
table.music_list th.notes {
  width: 17%;
}

table.skill_summary td {
  width: 9.0em;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}
table.skill_list th.number {
  width: 15%;
}
table.skill_list th.target {
  color: red !important;
  background-color: #ffcccc !important;
  border-color: inherit !important;
}

table.skill_list td.level {
  width: 15%;
}
table.skill_list td.point {
  width: 20%;
}
table.skill_list td.rate {
  width: 20%;
}
table.skill_list th.rank, table.skill_list th.combo {
  width: 15%;
}

table.skill_edit td.comment input[type="text"] {
  width: 99%;
}

table.skill_conf th.diff {
  width: 3.0em;
}
table.skill_conf th.locked {
  width: 2.0em;
}
table.skill_conf th.gauge {
  width: 2.0em;
}
table.skill_conf td.result {
  width: 15%;
}
table.skill_conf td.point {
  width: 25%;
}
table.skill_conf td.rate {
  width: 20%;
}
table.skill_conf th.rank, table.skill_conf td.combo {
  width: 20%;
}

table.skill_status th {
  width: 15.0em;
}
table.skill_status td {
  width: 5.0em;
}

table.skill_chart td.rank {
  font-size: 2.0em;
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}
table.skill_chart td.fullcombo {
  background-color: #666666;
}
table.skill_chart td.failed {
  color: #666666;
}
table.skill_chart td.level {
  width: 30%;
}
table.skill_chart td.point {
  width: 20%;
}

table.user_list td.name {
  width: 35%;
}
table.user_list td.game_id {
  width: 35%;
}
table.user_list td.point {
  width: 30%;
}

td.level {
  text-align: center;
}
td.notes {
  text-align: right;
}
td.point, td.rate {
  text-align: right;
}
td.mark {
  text-align: center;
}
td.status {
  text-align: center;
}
td.result {
  text-align: center;
}

td.inc {
  color: red !important;
  font-weight: bold;
}
td.dec {
  color: blue !important;
  font-weight: bold;
}

/********
  textarea
 ********/
textarea {
  width: 100%;
}

/********
  sidebar
 ********/
div.sidebar {
  margin: 0;
  padding: 2px;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}

div.sidebar h2 {
  font-size: 1.0em;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 0 0 1px 0;
}

div.sidebar p, div.sidebar dl, div.sidebar form {
  margin: 0;
  padding: 0;
}
div.sidebar dt {
  color: inherit;
  background-color: transparent;
  font-weight: bold;
}
div.sidebar dd {
  margin-left: 1.5em;
}

div.sidebar ul {
  margin: 0;
  padding: 0;
}
div.sidebar li {
  list-style-type: none;
}
