@charset 'utf-8';

/********
  colors
 ********/
body {
  color: #005500;
  background-color: white;
  background-image: url("/images/check.png");
}
h1, div.main dl dt {
  color: white;
  background-color: #005500;
}

a:link {
  color: #005500;
}
a:visited {
  color: #449944;
}
a:hover {
  color: red;
}

table {
  background-color: white;
}
th, table.skill_list th.number, table.skill_summary td {
  color: inherit;
  background-color: #ccffcc;
  border-color: #005500 !important;
}
td {
  border-color: #005500 !important;
}

div.sidebar {
  background-color: white;
}
