= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI, CxbRank::SKILL_LIST_EDIT_URI]}
%h1= "#{page_title}確認"
= haml :user, :locals => {:user => session[:temp_user], :action => CxbRank::USER_EDIT_URI}
