= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI, CxbRank::SKILL_LIST_EDIT_URI]}
%h1= "#{page_title}確認"
= haml :user, :locals => {:user => user, :action => CxbRank::SiteSettings.join_site_base(CxbRank::USER_EDIT_URI)}
