= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI]}
- session_user = CxbRank::User.find_by_id(session[:user_id])
%h1= page_title
%div.unit
  %h2 ユーザー一覧
  %div.subunit
    - unless users.present?
      %p 表示対象のユーザーは存在しません
    - else
      %table.user_list
        - unless mobile?
          %thead
            %tr
              %th.user_id ユーザーID
              %th.name ユーザー名
              %th.game_id
                - if CxbRank::SiteSettings.cxb_mode?
                  CxB ID
                - else
                  REV.ID
              %th.point RP
              %th.comment コメント
              %th.update 最終更新時刻
              - if session_user and CxbRank::SiteSettings.adversary_enabled?
                %th アドバーサリー
        %tbody
          - users.each do |user|
            = haml :user, :locals => {:user => user, :session_user => session_user}
