<script type="text/javascript" src="http://maplia.jp/script/jquery.json2table.js"></script>
<script type="text/javascript" src="script/scorerate.js"></script>
<script type="text/javascript">
	var data = null;
	var diffs = null;
	$(document).ready(function () {
		data = <%= data.to_json %>;
		diffs = <%= diffs.to_json %>;
		initialize();
	});
</script>
<p class="top_navi"><a href="/">CxB RankPoint Simulator トップ</a> &gt; CROSS×BEATS 得点率計算ツール</p>
<h1>CROSS×BEATS 得点率計算ツール</h1>

<p>選択した譜面とスコアから得点率を計算するツールです（バグ報告は <a href="https://twitter.com/maplia">@maplia</a> までお願いします）</p>

<div class="unit">
	<h2>入力フォーム</h2>
	<div class="subunit">
		<form>
			<p>
				選択曲: <select id="select_music"></select>
			</p>
			<p>
				譜面難度:
					<label><input type="radio" name="diff" value="std" /> STANDARD</label>
					 / <label><input type="radio" name="diff" value="hrd" /> HARD</label>
					 / <label><input type="radio" name="diff" value="mas" checked="checked" /> MASTER</label>
			</p>
			<p>
				スコア: <input type="text" name="score" maxlength="5" size="5" />
				<input type="button" value="計算" onClick="calcScoreRate()" />
			</p>
		</form>
	</div>
</div>

<div class="unit">
	<h2>計算結果</h2>
	<div class="subunit">
		<table id="table_rate"></table>
	</div>
</div>
