<dl>
	<dt>2015.10.12 (Mon)</dt>
	<dd>
		<p>プログラムを更新しました</p>
		<ul>
			<li>クリアレート欄へ小数値の入力をできるようにしました
				<ul>
					<li>ブックマークレットからの登録の際も、MY DATAに表示されている小数値を取り込みます</li>
				</ul>
			</li>
			<li>単曲上位20位から漏れた曲のUNLIMITED譜面の成績をまとめてランクポイント表に表示されるようにしました</li>
			<li>チャレンジモードは完奏しなくともRPが計算されることを確認したので、失敗設定時に無条件で0にしていたバグを修正</li>
			<li>その他バグ修正</li>
		</ul>
	</dd>
	<dt>2015.10.10 (Sat)</dt>
	<dd>
		<p>プログラムを更新しました</p>
		<ul>
			<li>ブックマークレット修正。処理完了後に更新したRP表を開くかどうかの確認を出すようにしました</li>
		</ul>
	</dd>
	<dt>2015.08.29 (Sat)</dt>
	<dd>
		テスト中です
	</dd>
</dl>
