%dl
  %dt 2015.10.25 (Sun)
  %dd
    %p プログラムを更新しました
    %ul
      %li ブックマークレットからの更新時、総合RPはMY DATAにあるものを取り込むことにしました
      %ul
        %li シミュレータでのUNLIMITED譜面のボーナス計算は、対象曲のRPからの合計とすることをやめて、総合RPから上位20曲の単曲RPとチャレンジRPを引いた値としました
        %ul
          %li MY DATAより取得したデータからの計算では誤差の発生を避けられないと判断したため、このような変更をしています
      %li ユーザー情報編集画面に、実RPの編集欄を追加しました。数字が合わない場合はこちらで調整してください。
      %li その他バグ修正
  %dt 2015.10.12 (Mon)
  %dd
    %p プログラムを更新しました
    %ul
      %li クリアレート欄へ小数値の入力をできるようにしました
      %ul
        %li ブックマークレットからの登録の際も、MY DATAに表示されている小数値を取り込みます
      %li 単曲上位20位から漏れた曲のUNLIMITED譜面の成績をまとめてランクポイント表に表示されるようにしました
      %li チャレンジモードは完奏しなくともRPが計算されることを確認したので、失敗設定時に無条件で0にしていたバグを修正
      %li その他バグ修正
  %dt 2015.10.10 (Sat)
  %dd
    %p プログラムを更新しました
    %ul
      %li ブックマークレット修正。処理完了後に更新したRP表を開くかどうかの確認を出すようにしました
  %dt 2015.08.29 (Sat)
  %dd テスト中です
