%dl
  %dt 2016.04.27 (Wed)
  %dd
    %p 4/28より「crossbeats REV. SUNRISE」が随時稼働となりますが、当シミュレータでのSUNRISE対応時期は今のところ未定です
    %p すみませんが、しばらくお待ちください
  %dt 2016.01.16 (Sat)
  %dd
    %p 正式版として公開しました
    %p ブックマークレットの内容は&beta;テスト版のものから変更していますので、お手数ですが#{link_to '使い方案内', CxbRank::USAGE_URI}より再ブックマークをお願いします
