%dl
  %dt 2016.07.16 (Sat)
  %dd
    %p ブックマークレットからのデータ登録の際、合計RPはMY DATAに表示されているものに合わせることにしました
    %p UNLIMITED譜面のボーナスはMY DATAから得られる情報のみでは正しく計算できない場合があるので、合計RPから上位20曲のRPとチャレンジRPを除いたものをUNLIMITED譜面ボーナスとして表示しています
    %p （たとえば「UNL96%」と「SUV97%」の実績がある場合は「UNL96%」でRP計算を行うべきですが、表示データより「96%」を確認する方法がないので正確な計算ができないことになります）
  %dt 2016.06.11 (Sat)
  %dd
    %p 6/6より開催中の第1回クラスチャレンジイベントの対象コースが、本来RP対象とならないにもかかわらず計算対象となっていたことがわかりましたので、これらのコースを対象外として扱うようにデータおよびプログラムの修正を行いました
    %p ブックマークレットより登録を行っていた場合は、再度登録することによって合計対象から外れます
    %p このたびはご迷惑をおかけしてしまい、申し訳ありませんでした
  %dt 2016.05.31 (Tue)
  %dd
    %p ブックマークレットにて登録するとき、MASTER譜面の成績がUNLIMITED譜面の解禁条件を満たしていない場合はUNLIMITED譜面をロック状態と判定してデータ登録するように改良しました
    %p これにより未解禁のUNLIMITED譜面の成績は自動的に合計対象から外れるようになります
    %p なお、曲自体が未解禁の状態はMY DATAから判定できないので、こちらは従来どおり手動でのロック設定をお願いします
  %dt 2016.05.06 (Fri)
  %dd
    %p 正式版として公開します
